html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 22px;
  line-height: 1.5;
}

header, nav {
  background: #FD739C;
  color: white;
}

nav {
  padding-bottom: 2em;
}

header {
  padding: 2em 0;
  margin-bottom: 3em;
}

h1 {
  margin-bottom: 0;
}

header, h1, h2 {
  font-family: Helvetica, Arial, sans-serif;
}
